@if (menus) {
  <div class="app-sidebar-float-submenu-container"  [attr.data-bs-theme]="this.appSettings.appSidebarLight ? '' : 'dark'" (mouseenter)="remainMenu()" (mouseleave)="hideMenu()" [style.top]="(top) ? top : ''" [style.left]="(left) ? left : ''" [style.right]="right" [style.bottom]="bottom">
    <div class="app-sidebar-float-submenu-arrow" [style.top]="arrowTop" [style.bottom]="arrowBottom"></div>
    <div class="app-sidebar-float-submenu-line" [style.top]="lineTop" [style.bottom]="lineBottom"></div>
    <!-- render subMenuNav -->
    <ng-template #subMenuNav let-menu="menu">
      <div class="menu-text">
        {{ menu.title }}
        @if (menu.highlight) {
          <i class="fa fa-paper-plane text-theme ms-5px"></i>
        }
      </div>
      @if (menu.caret) {
        <div class="menu-caret"></div>
      }
    </ng-template>
    <div class="app-sidebar-float-submenu" [style.display]="(expand) ? 'block' : ''">
      @for (menu of menus; track menu) {
        <div class="menu-item" routerLinkActive="active" #rla="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{ 'expand': menu.expand }">
          @if (menu.submenu) {
            <a class="menu-link" (click)="(menu.submenu) ? expandCollapseSubmenu($event, menu, menus, rla) : ''">
              <ng-template *ngTemplateOutlet="subMenuNav; context: {menu: menu}"></ng-template>
            </a>
          }
          @if (!menu.submenu) {
            <a class="menu-link" [routerLink]="menu.url">
              <ng-template *ngTemplateOutlet="subMenuNav; context: {menu: menu}"></ng-template>
            </a>
          }
          <!-- sidebar submenu -->
          @if (menu.submenu) {
            <div class="menu-submenu" [style.display]="(menu.state == 'expand') ? 'block' : (menu.state == 'collapse') ? 'none' : ''">
              @for (menu1 of menu.submenu; track menu1) {
                <div class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{ 'expand': menu1.state == 'expand', 'closed': menu1.state == 'collapsed', 'has-sub': menu1.submenu }" #rla1="routerLinkActive">
                  @if (menu1.submenu) {
                    <a class="menu-link" (click)="(menu1.submenu) ? expandCollapseSubmenu($event, menu1, menu.submenu, rla1) : ''">
                      <ng-template *ngTemplateOutlet="subMenuNav; context: {menu: menu1}"></ng-template>
                    </a>
                  }
                  @if (!menu1.submenu) {
                    <a class="menu-link" [routerLink]="menu1.url">
                      <ng-template *ngTemplateOutlet="subMenuNav; context: {menu: menu1}"></ng-template>
                    </a>
                  }
                  @if (menu1.submenu) {
                    <div class="menu-submenu" [style.display]="(menu1.state == 'expand') ? 'block' : (menu1.state == 'collapse') ? 'none' : ''">
                      @for (menu2 of menu1.submenu; track menu2) {
                        <div class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{ 'expand': menu2.state == 'expand', 'closed': menu2.state == 'collapsed', 'has-sub': menu2.submenu }" #rla2="routerLinkActive">
                          @if (menu2.submenu) {
                            <a class="menu-link" (click)="(menu2.submenu) ? expandCollapseSubmenu($event, menu2, menu1.submenu, rla2) : ''">
                              <ng-template *ngTemplateOutlet="subMenuNav; context: {menu: menu2}"></ng-template>
                            </a>
                          }
                          @if (!menu2.submenu) {
                            <a class="menu-link" [routerLink]="menu2.url">
                              <ng-template *ngTemplateOutlet="subMenuNav; context: {menu: menu2}"></ng-template>
                            </a>
                          }
                        </div>
                      }
                    </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
}
