<!-- BEGIN #top-menu -->
<div class="app-top-menu" data-bs-theme="dark">
  <div class="menu">
    @for (menu of menus; track menu) {
      @if (!menu.is_divider && !menu.is_header) {
        <div class="menu-item" [ngClass]="{ 'active': (menu.url && isActive(menu.url)) || (menu.submenu && isChildActive(menu.submenu)), 'has-sub': menu.submenu }">
          <a [routerLink]="!menu.submenu ? menu.url : null" class="menu-link">
            @if (menu.img) {
              <div class="menu-icon-img"><img src="{{ menu.img }}" /></div>
            }
            @if (menu.icon) {
              <div class="menu-icon"><i [ngClass]="menu.icon"></i></div>
            }
            @if (menu.title) {
              <span class="menu-text">
                {{ menu.title }}
                @if (menu.label) {
                  <span class="menu-label ms-5px">{{ menu.label }}</span>
                }
              </span>
            }
            @if (menu.badge) {
              <div class="menu-badge">{{ menu.badge }}</div>
            }
            @if (menu.caret) {
              <div class="menu-caret"></div>
            }
          </a>
          @if (menu.submenu) {
            <div class="menu-submenu">
              @for (childmenu of menu.submenu; track childmenu) {
                <div class="menu-item" [ngClass]="{ 'active': (childmenu.url && isActive(childmenu.url)) || (childmenu.submenu && isChildActive(childmenu.submenu)), 'has-sub': childmenu.submenu }">
                  <a [routerLink]="!childmenu.submenu ? childmenu.url : null" class="menu-link">
                    <span class="menu-text">{{ childmenu.title }}</span>
                    @if (childmenu.caret) {
                      <div class="menu-caret"></div>
                    }
                  </a>
                  @if (childmenu.submenu) {
                    <div class="menu-submenu">
                      @for (childmenu1 of childmenu.submenu; track childmenu1) {
                        <div class="menu-item" [ngClass]="{ 'active': (childmenu1.url && isActive(childmenu1.url)) || (childmenu1.submenu && isChildActive(childmenu1.submenu)), 'has-sub': childmenu1.submenu }">
                          <a [routerLink]="!childmenu1.submenu ? childmenu1.url : null" class="menu-link">
                            <span class="menu-text">{{ childmenu1.title }}</span>
                            @if (childmenu1.caret) {
                              <div class="menu-caret"></div>
                            }
                          </a>
                          @if (childmenu1.submenu) {
                            <div class="menu-submenu">
                              @for (childmenu2 of childmenu1.submenu; track childmenu2) {
                                <div class="menu-item" [ngClass]="{ 'active': isActive(childmenu2.url) }">
                                  <a [routerLink]="!childmenu2.submenu ? childmenu2.url : null" class="menu-link">
                                    <span class="menu-text">{{ childmenu2.title }}</span>
                                    @if (childmenu2.caret) {
                                      <div class="menu-caret"></div>
                                    }
                                  </a>
                                </div>
                              }
                            </div>
                          }
                        </div>
                      }
                    </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      }
    }
    <div class="menu-item menu-control menu-control-start">
      <a href="javascript:;" class="menu-link" (click)="handleTopMenuControlAction($event, 'prev')"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="menu-item menu-control menu-control-end">
      <a href="javascript:;" class="menu-link" (click)="handleTopMenuControlAction($event, 'next')"><i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</div>
<!-- END #top-menu -->
